
<head>
    <link rel="stylesheet" href="../Desktop.css">
</head>

<div style="background-color: #f5f6fc; width: 100%;"><br>
    <div style="text-align: center;"><img src="../alerta.png" width="45px" alt="">
    <p><strong>Aviso Importante:</strong><span> tu contrato cambia a partir del 23 de enero de 2023.<br>T</span>e informamos de las modificaciones a tu <a class="link" href="https://www.scotiabank.com.mx/transparencia/contrato-servicios-financieros.aspx" target="_blank" rel="noopener">Contrato Único de Productos y Servicios Bancarios y Financieros</a>.</p>
    <br><br></div>
    </div>