
<head>
    <link rel="stylesheet" href="../Desktop.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<div  id="topFooter">
    <style>
.topFooter__social {
margin: 0 0 1rem 0;
padding-right: 20px;
}
</style>
<div class="topFooter__columns col">
<div class="topFooter__column"><i style="font-size: 30px;" class="bi bi-question-circle-fill"></i> <strong class="topFooter__column-heading">¡Toda la información que necesitas en un solo lugar!</strong> Visita el <a class="topFooter__column-link" href="https://ayuda.scotiabank.com.mx/" target="_blank" style="font-weight: bold; color: #000; display: initial;" rel="noopener">Centro de Ayuda</a></div>
<div class="topFooter__column"><i style="font-size: 30px;" class="bi bi-bezier"></i> <strong class="topFooter__column-heading">Descubre el nuevo</strong> <span class="topFooter__column-text"></span> <a class="topFooter__column-link" href="https://www.scotiabank.com.mx/blog" target="_self" style="display: initial;">Blog</a> y <a class="topFooter__column-link" href="https://www.scotiabank.com.mx/podcast" target="_self" style="display: initial;">Podcast</a></div>
<div class="topFooter__column"><i style="font-size: 30px;" class="bi bi-telephone-fill"></i> <strong class="topFooter__column-heading">Contáctanos</strong> <span class="topFooter__column-text"></span> <a class="topFooter__column-link" href="tel:55 5728 1900" target="_self">55 5728 1900</a> <a class="topFooter__column-link" href="/contacto.aspx" target="_self">Más números de teléfono</a></div>
<div class="topFooter__column"><i style="font-size: 30px;" class="bi bi-chat-dots-fill"></i><strong class="topFooter__column-heading">Habla con nosotros en Redes Sociales:</strong>
<div class="topFooter__social"><a target="_blank" href="https://www.facebook.com/ScotiabankMX" aria-label="Facebook" rel="noopener"><i class="bi bi-facebook"></i></a><a target="_blank" href="https://twitter.com/ScotiabankMX" aria-label="Twitter" rel="noopener"><i class="bi bi-twitter"></i></a><a target="_blank" href="https://www.youtube.com/user/ScotiabankMX" aria-label="Youtube" rel="noopener"><i class="bi bi-youtube"></i></a><a target="_blank" href="https://www.linkedin.com/company/scotiabank/" aria-label="Linkedin" rel="noopener"><i class="bi bi-linkedin"></i></a><a target="_blank" href="https://www.instagram.com/scotiabankmx/" aria-label="Instagram" rel="noopener"><i class="bi bi-instagram"></i></a></div>
</div>
</div>
</div>