
<head>
    <link rel="stylesheet" href="../Desktop.css">
</head>

<div class="visible-desktop">
    <div class="contenedor">
        <div class="texto">
            <h1 class="title txt" >Inicia bien el 2023 cumpliendo tus propósitos</h1>
            <p class="parrafo txt" >Disfruta de Meses sin Intereses y descuentos con tu Tarjeta de Crédito Scotiabank.</p>
            <a style="text-decoration: none; cursor:pointer; width:90px;" href="../page2.html"><button type="button" style="cursor:pointer;" id="lblSignInButtonWrapper" class="newSignIn-link" style="background-color: #ed0722;" data-analytics="btn-sign-in">
                <i class="icon-Icon_SignInLock"></i>
                <span class="newSignIn-text">Saber Mas</span>
            </button></a>
        </div>
    </div>
</div>
